@import url('https://fonts.googleapis.com/css2?     family=Bebas+Neue&family=Great+Vibes&display=swap');


*{
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    background-color: #968476;
}
#pri-contain{
    width: 90%;
    height: 570px;
    margin-top: 100px;
    margin-left: 5%;
    background-color: #E3D4C9;
    border-radius: 25px;
    box-shadow: 0px 15px 15px 0px #4e3824;
    display: flex;
}

.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible; }
    .hamburger:hover {
      opacity: 0.7; }
    .hamburger.is-active:hover {
      opacity: 0.7; }
    .hamburger.is-active .hamburger-inner,
    .hamburger.is-active .hamburger-inner::before,
    .hamburger.is-active .hamburger-inner::after {
      background-color: #000; }
      .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; }

#pri-contain .imagen{
    height: 75%;
    padding-top: 95px;
    display: flex;
}
#pri-contain .imagen img{
    height: 490px;
    padding-left: 10px;
}

#pri-contain .Logo{
    height: 200px;
    margin-top: -95px;
    position: absolute;
    text-align: center;
    padding-left: 600px;
}
#pri-contain .Logo img{
    height: 200px;
    margin: auto;
}

#pri-contain .descripcion{
    width: 30%;
    height: 40%;
    padding: 8% 0px; 
    text-align: center;
    justify-items: center;
    font-family: 'Great Vibes', cursiva;
}
#pri-contain .descripcion h1{
    font-size: 50px;
}
#pri-contain .descripcion sup{
    font-size: 70px;
    padding-left: 50px;
    font-family: 'Bebas Neue';
}
#pri-contain .descripcion button{
    padding: 10px 80px;
    background-color: #a89283;
    border-radius: 15px;
    border: none;
    margin-top: 80px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 2px 8px 1px #282727;
}

footer{
    width: 100%;
    margin-top: 20px;
    height: 150px;
}
footer .social_media{
    width: 500px;
    height: 100px;
    padding-left: 670px;
    margin-top: 50px;
    justify-content: center;
}
footer .social_media i{
    color: rgb(0, 0, 0);
    font-size: 45px;
    padding: 30px 20px 0px 20px;
    text-align: center;
}

/*RESPONSIVE DESING*/
