@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Great+Vibes&display=swap');

*{
    border: 0;
    margin: 0;
    padding: 0;
}
body {
    background-color: #968476;
}

#pri-contain{
    width: 90%;
    height: 570px;
    margin-top: 100px;
    margin-left: 5%;
    background-color: #E3D4C9;
    border-radius: 25px;
    box-shadow: 0px 15px 15px 0px #4e3824;
    display: flex;
}

#pri-contain .menu{
    width: 12%;
    height: 100%;   
    background-color: #CDC2B9;
    border-radius: 25px 10px 10px 25px;
    text-align: center;
    display: flex;
}
#pri-contain .menu nav{
    width: 100%;
    height: 70%;
    margin: 45% 0%;
}
#pri-contain .menu nav li{
    width: auto;
    text-decoration: none;
    list-style: none;
    padding: 20px 0px;
}
#pri-contain .menu nav ul li:hover{
    background-color: #E3D4C9;
}
#pri-contain .menu nav li a{
    font-size: 12px;
    list-style: none;
    text-decoration: none;
    color: #000000;
}
#pri-contain .menu nav ul li a:hover{
    color: #968476;
}

#pri-contain .logo{     
    height: 200px;
    margin-top: -95px;
    padding-left: 700px;
    text-align: center;
    position: absolute;
}
#pri-contain .logo img{
    height: 200px;
    margin: auto;
}

#pri-contain .contenido{
    width: 650px;
    height: 450px;
    text-align: center;
    margin-top: 100px;
    padding-left: 300px;
}
#pri-contain .contenido h1{
    font-size: 35px;    
    font-family: 'Gill Sans';
}

#pri-contain .contenido .registro{
    text-align: left;
    margin-top: 25px;
    margin-left: -200px;
    display: flex;   
}
#pri-contain .contenido .registro label{
    font-size: 15px;
}
#pri-contain .contenido .registro .cajamesage{
    padding-top: 65px; 
}
#pri-contain .contenido .registro input{
    width: 500px;
    margin: 8px;
    padding: 5px;
    font-size: 10px
}
#pri-contain .contenido .registro .boton{
    width: 50px;
    font-size: 10px;
    text-align: center;
    margin-left: 470px;
    box-shadow: 2px 8px 8px 0px #968476;
}

#pri-contain .contenido img{
    width: 300px;
    height: 280px;
    margin-left: 100px;
    margin-top: -25px;
}

footer{
    width: 100%;
    margin-top: 20px;
    height: 150px;
}
footer .social_media{
    width: 500px;
    height: 100px;
    padding-left: 700px;
    margin-top: 50px;
    justify-content: center;
}
footer .social_media i{
    color: rgb(0, 0, 0);
    font-size: 45px;
    padding: 30px 20px 0px 20px;
    text-align: center; transition: all 0.5s;
}
footer .social_media i:hover{
    color: silver;
    transform: rotate(15deg);
    transition: all 0.5s;
}